<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Login Page" />
    <meta name="author" content="VibhuARMS" />
    <title>Home | VibhuARMS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <style>
        body {
            background: url('/static/assets/img/index.png') no-repeat center center fixed;
            background-size: cover;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container body-bg" id="container">
        <img src="/static/assets/img/vibhu-1.png" alt="VibhuARMS" height="100px" width="100px">
        <h1>VibhuARMS</h1>

        {% if message %}
        <script>
            window.onload = function() {
                alert('{{ message }}');
            };
        </script>
        {% endif %}
        
        <div class="tabs-container">
            <button class="tab-button" id="iqaclogin">IQAC</button>
            <button class="tab-button" id="criterianlogin">CRITERIAN</button>
            <button class="tab-button" id="keylogin">KEY</button>
        </div>

        <div class="form-container iqac-container">
            <form method="POST" action="/iqac_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" name="iqacemail" type="email" placeholder="IQAC Email" required />
                    <label for="iqacemail">IQAC Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="iqacpassword" type="password" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">IQAC Sign In</button>
            </form>
        </div>


        <div class="form-container criterian-container">
            <form method="POST" action="/criterian_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" type="email" name="criterianemail" placeholder="Criterian Email" required />
                    <label for="uemail">Criterian Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" name="criterianpassword" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Criterian Sign In</button>
            </form>
        </div>
        

        <div class="form-container key-container">
            <form method="POST" action="/key_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" type="email" name="keyemail" placeholder="Key Email" required />
                    <label for="vemail">Key Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" name="keypassword" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Key Sign In</button>
            </form>
        </div>
       

    </div>

    <script>
        const container = document.getElementById('container');
        const iqacloginBtn = document.getElementById('iqaclogin');
        const criterianloginBtn = document.getElementById('criterianlogin');
        const keyloginBtn = document.getElementById('keylogin');

        const iqacContainer = document.querySelector('.iqac-container');
        const criterianContainer = document.querySelector('.criterian-container');
        const keyContainer = document.querySelector('.key-container');

        iqacloginBtn.addEventListener('click', () => {
            iqacContainer.classList.add('active');
            criterianContainer.classList.remove('active');
            keyContainer.classList.remove('active');
            container.classList.add('iqac-bg');
            container.classList.remove('criterian-bg');
            container.classList.remove('key-bg');
            // Activate tab button
            iqacloginBtn.classList.add('active');
            criterianloginBtn.classList.remove('active');
            keyloginBtn.classList.remove('active');
        });

        criterianloginBtn.addEventListener('click', () => {
            criterianContainer.classList.add('active');
            iqacContainer.classList.remove('active');
            keyContainer.classList.remove('active');
            container.classList.add('criterian-bg');
            container.classList.remove('iqac-bg');
            container.classList.remove('key-bg');
            // Activate tab button
            criterianloginBtn.classList.add('active');
            iqacloginBtn.classList.remove('active');
            keyloginBtn.classList.remove('active');
        });

        keyloginBtn.addEventListener('click', () => {
            keyContainer.classList.add('active');
            iqacContainer.classList.remove('active');
            criterianContainer.classList.remove('active');
            container.classList.add('key-bg');
            container.classList.remove('iqac-bg');
            container.classList.remove('usecriterian-bg');
            // Activate tab button
            keyloginBtn.classList.add('active');
            iqacloginBtn.classList.remove('active');
            criterianloginBtn.classList.remove('active');
        });
    </script>
</body>
</html>