<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>About-us</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#bk").hover(function (){
				$(this).css("background-color","cyan");
			}, function () {
				$(this).css("background-color","red");
			});
		});
	</script>
	
</head>
<body background="/static/assets/img/index.png" style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
<center>
	<div id="ab">
	<h1 class="mt-4"><img src="/static/assets/img/vibhu-1.png" alt="product" class="img-responsive " height="100px" width="100px"><br>VibhuARMS</h1>
	<h2 class="mt-4">Accreditation and Rankings Monitoring System</h2><br>
        <p style="text-align: justify; width: 80%;">India has one of the largest and diverse education systems in the world. Privatization,
			widespread expansion, increased autonomy and introduction of Programmes in new and
			emerging areas have improved access to higher education. At the same time, it has also led to
			widespread concern on the quality and relevance of the higher education. To address these
			concerns, the National Policy on Education (NPE, 1986) and the Programme of Action (PoA,
			1992) spelt out strategic plans for the policies, and advocated the establishment of an
			independent National accreditation agency. Consequently, the National Assessment and
			Accreditation Council (NAAC) was established in 1994 as an autonomous institution of the
			University Grants Commission (UGC), with its Headquarters in Bengaluru, Karnataka. The
			mandate of NAAC is to make quality assurance as an integral part of the functioning of Higher
			Education Institutions (HEIs) and to motivate them to build a strong quality culture within.</p>
			
			
		<p style="text-align: justify; width: 80%;">	The NAAC functions through its General Council (GC) and Executive Committee (EC)
			comprising educational administrators, policy makers and senior academicians from a crosssection of Indian higher education system. The Chairperson of the UGC is the President of the
			GC of the NAAC, and the Chairperson of the EC is an eminent academician nominated by the
			President of GC (NAAC). The Director of NAAC is the academic and administrative head of
			NAAC and is the member-secretary of both the GC and the EC. In addition to the statutory
			bodies that steer its policies, expert advisory and consultative committees constituted from time
			to time and a committed team of core staff support and steer the activities of NAAC. </p>

		<h1>Thank You</h1><br>
    </div>
	<link href="/static/styles.css" rel="stylesheet" />
	<p><a class="btn btn-danger" href="{{ url_for('home') }}">Go to Home Page</a></p><br>
</center>
</body>
</html>
