<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Login Page" />
    <meta name="author" content="VibhuARMS" />
    <title>Home | VibhuARMS</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <style>
        body {
            background: url('/static/assets/img/index.png') no-repeat center center fixed;
            background-size: cover;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container body-bg" id="container">
        <img src="/static/assets/img/vibhu-1.png" alt="VibhuARMS" height="100px" width="100px">
        <h1>VibhuARMS</h1>

        {% if message %}
        <script>
            window.onload = function() {
                alert('{{ message }}');
            };
        </script>
        {% endif %}
        
        <div class="tabs-container">
            <button class="tab-button" id="iqaclogin">IQAC</button>
            <button class="tab-button" id="attributerlogin">ATTRIBUTER</button>
            <button class="tab-button" id="userlogin">USER</button>
        </div>

        <div class="form-container iqac-container">
            <form method="POST" action="/iqac_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" name="iqacemail" type="email" placeholder="IQAC Email" required />
                    <label for="iqacemail">IQAC Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="iqacpassword" type="password" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">IQAC Sign In</button>
            </form>
        </div>


        <div class="form-container attributer-container">
            <form method="POST" action="/attributer_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" type="email" name="attributeremail" placeholder="attributer Email" required />
                    <label for="aemail">Attributer Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" name="attributerpassword" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Attributer Sign In</button>
            </form>
        </div>
        

        <div class="form-container user-container">
            <form method="POST" action="/user_dashboard">
                <div class="form-floating mb-3">
                    <input class="form-control" type="email" name="useremail" placeholder="user Email" required />
                    <label for="uemail">User Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" name="userpassword" placeholder="Password" required />
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn-primary">User Sign In</button>
            </form>
        </div>
       

    </div>

    <script>
        const container = document.getElementById('container');
        const iqacloginBtn = document.getElementById('iqaclogin');
        const attributerloginBtn = document.getElementById('attributerlogin');
        const userloginBtn = document.getElementById('userlogin');

        const iqacContainer = document.querySelector('.iqac-container');
        const attributerContainer = document.querySelector('.attributer-container');
        const userContainer = document.querySelector('.user-container');

        iqacloginBtn.addEventListener('click', () => {
            iqacContainer.classList.add('active');
            attributerContainer.classList.remove('active');
            userContainer.classList.remove('active');
            container.classList.add('iqac-bg');
            container.classList.remove('attributer-bg');
            container.classList.remove('user-bg');
            // Activate tab button
            iqacloginBtn.classList.add('active');
            attributerloginBtn.classList.remove('active');
            userloginBtn.classList.remove('active');
        });

        attributerloginBtn.addEventListener('click', () => {
            attributerContainer.classList.add('active');
            iqacContainer.classList.remove('active');
            userContainer.classList.remove('active');
            container.classList.add('attributer-bg');
            container.classList.remove('iqac-bg');
            container.classList.remove('user-bg');
            // Activate tab button
            attributerloginBtn.classList.add('active');
            iqacloginBtn.classList.remove('active');
            userloginBtn.classList.remove('active');
        });

        userloginBtn.addEventListener('click', () => {
            userContainer.classList.add('active');
            iqacContainer.classList.remove('active');
            attributerContainer.classList.remove('active');
            container.classList.add('user-bg');
            container.classList.remove('iqac-bg');
            container.classList.remove('attributer-bg');
            // Activate tab button
            userloginBtn.classList.add('active');
            iqacloginBtn.classList.remove('active');
            attributerloginBtn.classList.remove('active');
        });
    </script>
</body>
</html>