<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>View Tickets | VibhuARMS</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script> 
    <style>
        .table-container {
            overflow-x: auto;
            width: 100%;
            max-width: 100%;
            overflow-wrap: break-word; /* Add this line */
            word-wrap: break-word;
        }
    </style>   
</head>
<body class="sb-nav-fixed">
    {% include 'admin/navbar.html' %}<br><br>
    <div class="container-fluid px-4">
        <h3 class="mt-4">View Tickets</h3><hr /> 
        <div class="row justify-content-center">
            <div class="table-container">
                <table class="table table-bordered" style="white-space: wrap; text-overflow: ellipsis;">
                    <thead>
                        <tr>
                            <th>Parameter ID</th>
                            <th>Parameter Name</th>
                            <th>Parameter Description</th>
                            <th>Responsibility</th>
                            <th>Ticket Type</th>
                            <th>Ticket Details</th>
                            <th>Ticket Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.parameter_id }}</td>
                            <td>{{ ticket.parameter_name }}</td>
                            <td>{{ ticket.parameter_description }}</td>
                            <td>{{ ticket.responsibility }}</td>
                            <td>{{ ticket.ticket_choice }}</td>
                            <td>{{ ticket.ticket_description }}</td>
                            <td {% if ticket.ticket_status=='Raised'%} style="background-color: #fa4343;" {% else %} style="background-color: #4DFF00;" {% endif %}>{{ ticket.ticket_status }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="fetchDetails('{{ ticket.id }}')">Get Details</button>
                            </td>
                        </tr> 
                        {%endfor%}               
                    </tbody>
                </table>
        </div>
    </div> 
    <script>
        function fetchDetails(id) {
            // Construct the URL to redirect to
            var fetchdetailsUrl = '/fetchdetails/' + id;
            
            // Redirect to the fetch details page
            window.location.href = fetchdetailsUrl;
        }
    </script>      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>
